canvas {
    width:1200px;
    height:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
main {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.game {
    border-radius: 20px;
    transition: opacity 0.5s ease;
}

.game.hidden {
    opacity:0;
    pointer-events:none;
}

.results__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    flex-direction: column;
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

.player__score {
    position: absolute;
    bottom: -160px;
}

.player__score.hidden {
    opacity:0;
    pointer-events: none;
}


.player__section-name {
    letter-spacing:4px;
    text-transform: uppercase;
    color: #5A5A5A;
    font-size: 24px;
    font-weight: 400;

}

#player-score {
    color: #1A1A1A;
    font-size: 34px;
}

.game__results {
    width:1200px;
    height:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border: 1px solid blue;*/
}






#player__filled-lines, #player__level {
    font-size: 34px;
    color: #F3F3F3;
}

.player__lines {
    position: absolute;
    top:110px;
    left:270px;
    width:fit-content;

}

.player__level {
    position: absolute;
    bottom:105px;
    right:270px;
    width:fit-content;
}

.results__block.hidden {
    opacity:0;
    pointer-events: none;
}

.player__info {
    position: absolute;
    top:0;
    right:0;
    width: 250px;
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    gap:10px;

}

.player__info.hidden {
    opacity:0;
    pointer-events: none;
}

.player__points-left-for-next-level,
.player__name,
.player__goal {
    display:flex;
    align-items: center;
    gap:10px;
}

#player-goal,
#player-points-left-for-next-level,
#player-name{
    font-size: 28px;
    color: #1A1A1A;
}

/*BUTTONS*/
.game__controlButtons {
    width:1200px;
    height:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

.game__controlButtons.hidden {
    opacity:0;
    pointer-events: none;
}

.controlButtonsList {
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    display:flex;
    gap:15px;
    z-index: 10;
}

.controlButtonsList__item--exit {
    margin-left: auto;
}

.controlButtonsList__item {
    position:relative;
}

.controlButtonsList__item::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../images/tetromino.jpg');
    border-radius: 10px;
    z-index: -1;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

}

.controlButtonsList__item:hover:has(:not(.controlBtn:disabled))::before{
    transform: scaleX(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.controlBtn {
    width:100%;
    font-size: 30px;
    color: #F3F3F3;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    margin:0;
    border:none;
    cursor:pointer;
    padding: 10px 20px;
}
.controlBtn:disabled {
    opacity: 0.2;
}

#start-btn:focus{
    outline:none;
    border:none
}
