.confirm-new-game-window {
    display:flex;
    flex-direction:column;
    gap:20px;
    background-color: #F3F3F3;
    width: 600px;
    height: 350px;
    font-size: 30px;
    font-weight: 400;
    border: 1px solid #650D19;
    border-radius: 10px;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 33333;
    padding-top: 50px;
}

.confirm-new-game-window.hidden {
    opacity: 0;
    pointer-events: none;
}

.confirm-new-game-window__message {
    display: grid;
    grid-template-rows: 1fr 1fr;


}

.confirm-new-game-window__user-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 60px 30px 60px;


}

#confirm-start-new-game {
    border: 1px solid #650D19;
    background: url('../images/tetromino.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}
