
.settings {
    width:1200px;
    height:800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
    z-index:2222;

}
.settings.hidden {
    opacity: 0;
    pointer-events: none;
}


.settings__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    padding:0;
    margin:0;

}

.settings__item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.settings__item.hidden {
    opacity: 0;
    transform: translateY(-100%);
}



.settings__item::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('../images/tetromino.jpg');
    border-radius: 10px;
    z-index: -1;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.settings__item:hover::before {
    transform: scaleX(1.2); /* Or tweak to desired effect */
}
.settings__btn {
    width:100%;
    font-size: 50px;
    color: #F3F3F3;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    margin:0;
    border:none;
    cursor:pointer;
    padding: 10px 20px;
}

.settings__footer {
    margin-top: 140px;
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in;
}
.settings__footer.hidden {
    opacity: 0;
    pointer-events: none;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.usernameEditor {
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, calc(-50% - 60px));*/
    transform: translate(-50%, calc(-50% - 50px ));
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in;
}

.usernameEditor.hidden {
    opacity: 0;
    pointer-events: none;
}

.usernameEditor__greeting {
    text-align: center;
    font-size:30px;
    margin-bottom: 10px;
}

.block__name-request {
    font-size: 24px;
    grid-column: span 2;
}

.usernameEditor__block {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}


.block__usernameInput {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}


.action-btn {
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    background-image: url('../images/tetromino.jpg');
    /*height: 100%;*/
    padding: 20px;
    text-align: center;
    color: #F3F3F3;
    transition: bow-shadow 0.3s ease-in-out;
}

.action-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.instructions {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, calc(-50% - 60px));*/
    transform: translate(-50%, calc(-50%));
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;

}

.instructions.hidden {
    opacity: 0;
    pointer-events: none;
}

.rules-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
