@import './reset.css';
@import './settings.css';
@import './game.css';

body {
    font-family: "Lilita One", sans-serif;
    margin: 0;
    background: #FC4120;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /*padding-top: 20px;*/
    display:flex;
    justify-content: center;
    align-items: center;
}


.container{
    /*position: relative;*/
    /*width:1200px;*/
    /*height:1000px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/



}






 /*another*/




.tetris {
    grid-row: span 3;
    margin: 20px 0px;
}



/*.player__info {*/
/*    border: 1px solid black;*/
/*    border-radius: 20px;*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr;*/
/*    align-content: center;*/
/*    gap: 10px;*/
/*    padding: 10px;*/
/*    text-align: center;*/

/*}*/



/*.player__name {*/
/*    display: grid;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    font-size: 40px;*/
/*        font-weight: bold;*/
/*}*/


/*.player__results {*/
/*    border: 1px solid black;*/
/*    border-radius: 20px;*/
/*    grid-row: span 6;*/
/*    display: grid;*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    gap: 20px;*/
/*    padding: 10px;*/
/*    text-align: center;*/

/*}*/


/*.player__goal*/
/*.player__lines,*/
/*.player__points-left-for-next-level  {*/
/*    display: grid;*/
/*    grid-template-columns: 2fr 1fr;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*    justify-content: center;*/

/*}*/

/*.player__result {*/
/*    font-size: 40px;*/
/*    font-weight: bold;*/

/*}*/

.tetris {
    align-content: center;
    justify-self: center;
}


.tetris__field {
    width: 310px;
    height: 610px;
    /*border: 1px solid #98948B;*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    box-sizing: border-box;
    grid-gap:0;
    font-size: 0px;
    align-content: center;



}

.next {
    border-radius: 20px;
    display: grid;
    gap: 30px;
    margin: 20px 20px 0px 0px;
    align-content: center;
    text-align: center;

}

.next__tetro {
    width: 160px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
    font-size: 0px;
    align-content: center;
    justify-self: center;

}

.empty-cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    box-shadow:0 0 0 1px #98948B;

}

.btn {
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.btn--enabled-from-start-btn:hover,
.user-btn:hover {
    background-color: red;
}

.btn:disabled {
    background-color: grey;
    color: black;
}


.moving-cell {
    width: 40px;
    height: 40px;
    /* background: red; */
    border: 1px solid black;
    display: inline-block
}

.fixed-cell {
    background: green;
    border: 1px solid black;
    display: inline-block
}


.user-name-window {
    background-color: rgb(0, 208, 255);
    width: 560px;
    height: 400px;
    font-size: 40px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    display: none;
    gap: 30px;
    align-content: center;
    grid-template-rows: 1fr 3fr;

    position: absolute;
    top: 350px;
    left: 700px;
    text-align: center;
    padding: 30px 50px;

}


.confirm-new-game-window {
    background-color: rgb(0, 208, 255);
    width: 600px;
    height: 350px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    display: none;

    align-content: center;
    grid-template-rows: 200px 150px;
    position: absolute;
    top: 350px;
    left: 700px;
    text-align: center;

}

.confirm-new-game-window__message {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;

}

.confirm-new-game-window__user-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 60px 30px 60px;


}









.instructions__exit-btn {
    text-align: end;
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.instructions__exit-btn:hover {
    color: #680C19;
}

/*.rules-block__rule {*/
/*  */
/*}*/

/* #game-over {
    font-size: 100px;
    color: red;
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}  */



.exit-message {
    display: none;
    font-size: 100px;
    text-align: center;
    margin: 100px;
    position: absolute;
    /* background-color: blue; */

}

.exit-message div:first-child {
    font-size: 150px;
}

.back-to-tetris {
    height: 100px;
    padding: 0px 60px;
    text-align: center;
}

