@import './reset.css';
@import './settings.css';
@import './game.css';
@import './newGameModal.css';
@import './exitGameModal.css';
@import './tetro.css';

body {
    font-family: "Lilita One", sans-serif;
    margin: 0;
    background:  url('../images/background.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    /*padding-top: 20px;*/
    display:flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

